To: {{TO_ADDRESS}}
Subject: {{SUBJECT}}
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary={{BOUNDARY}}

--{{BOUNDARY}}
Content-Type: text/plain

Alert triggered.

{{ATTACHMENTS}}
--{{BOUNDARY}}--
