To: {{TO_ADDRESS}}
Subject: {{SUBJECT}}
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary=7CCNDfj5iHcZLNQpxLsKP73n

--7CCNDfj5iHcZLNQpxLsKP73n
Content-Type: text/plain

The unit {{UNIT}} failed.
--7CCNDfj5iHcZLNQpxLsKP73n
Content-Disposition: attachment; filename={{UNIT}}.log
Content-Transfer-Encoding: base64
Content-Type: text/plain

{{LOGS}}
--7CCNDfj5iHcZLNQpxLsKP73n--
