[Unit]
Description=Send failure email for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/tan/startnet/
ExecStart=/home/tan/startnet/failure-email-send.sh %i
SyslogIdentifier=failure-email-send
