[Unit]
Description=Fetch GloFAS via lftp
Wants=network-online.target
After=network-online.target
OnFailure=failure-email-send@%n.service
StartLimitIntervalSec=20min
StartLimitBurst=79
PartOf=river-flood-workflow.target
Wants=glofas-cache-cleanup.service
After=glofas-cache-cleanup.service

[Service]
Type=oneshot
LoadCredential=password:/etc/river-flood-workflow/ftp_password
LoadCredential=username:/etc/river-flood-workflow/ftp_username
WorkingDirectory=/var/cache/glofas
ExecStart=/usr/bin/glofas-fetch
SyslogIdentifier=glofas-fetch
Restart=on-failure
RestartMode=direct
RestartSec=15
