[Unit]
Description=Cleanup GloFAS cache directory
OnFailure=failure-email-send@%n.service
PartOf=river-flood-workflow.target

[Service]
Type=oneshot
WorkingDirectory=/var/cache/glofas
ExecStart=/bin/bash -c '
    find . -mindepth 1 -maxdepth 1 -type d |
    xargs -r ls -td |
    tail -n +2 |
    xargs -r rm -rf
'
SyslogIdentifier=glofas-cache-cleanup
