[Unit]
Description=Process GloFAS data for river flood workflow
OnFailure=failure-email-send@%n.service
Requires=glofas-fetch.service
After=glofas-fetch.service
PartOf=river-flood-workflow.target

[Service]
Type=oneshot
WorkingDirectory=/opt/river-flood-workflow
ExecStart=@bindir@/river-flood-process
SyslogIdentifier=river-flood-process

