[Unit]
Description=Send logs and reporting for river flood workflow

[Service]
Type=oneshot
ExecStart=/bin/sh -c '@bindir@/river-flood-report $$(date +%%Y-%%m-%%d)'
SyslogIdentifier=river-flood-report
