[Unit]
Description=Process GloFAS data for river flood workflow
OnFailure=failure-email-send@%n.service
Requires=glofas-fetch.service
After=glofas-fetch.service
PartOf=river-flood-workflow.target

[Service]
Type=oneshot
Environment=BASE_DIR=/opt/river-flood-workflow
ExecStart=/bin/sh -c '@bindir@/river-flood-process --cache-dir @cachedir@/glofas --date $$(date +%%Y-%%m-%%d)'
SyslogIdentifier=river-flood-process

