[Unit]
Description=Push river flood workflow log to dashboard
PartOf=river-flood-workflow.target
After=river-flood-workflow-log-dump.service

[Service]
Type=oneshot
Environment=REPOSITORY=/opt/flood-model-dashboard-SN
ExecStart=/bin/sh -c '@bindir@/river-flood-workflow-log-push -f @cachedir@/river-flood-workflow/workflow.log'
SyslogIdentifier=river-flood-workflow-log-push
